# Created by https://www.gitignore.io
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
node_modules
*.sublime-workspace

